<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.miekeljerianto.belajarpakar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.Index"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.form.FormDiagnosa"
            android:label="@string/title_activity_diagnosa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.form.FormHasilDiagnosa" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.Ui_login" />
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.UiDashboardAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.LihatData" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.UpdateData" />
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.CRUD_Rules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.ui_admin.TambahData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.TentangActivity" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.InfoActivity" />
        <activity
            android:name="com.apps.miekeljerianto.belajarpakar.SliderViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.login.register.LoginActivity" />
        <activity android:name="com.apps.miekeljerianto.belajarpakar.login.register.RegisterActivity" />
    </application>

</manifest>